@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #141415;
    --color-gradient: #ff6b27;
    --text-color: #fff;
    --color-secondary: #df0404;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}