@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #141415;
    --color-gradient: #ff6b27;
    --text-color: #fff;
    --color-secondary: #df0404;
    --texticon-color: #d6d3d4;
    --bg-icons: #ffffff1f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.alert-element {
    display: none;
}

.content-alert:hover .alert-element {
    display: flex;
}