.menu-user {
    animation: startMenu .2s linear;
}

@keyframes startMenu {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
